API_KEY=<api_key>
AZURE_STORAGE_ACCOUNT=<storage_account_name>
AZURE_STORAGE_ACCOUNT_KEY=<storage_account_key>
AZURE_SUBSCRIPTION_ID=<subscription_id>
AZURE_RESOURCE_GROUP=<resource_group_name>
AZURE_WORKSPACE_NAME=<workspace_name>